<!-- Search on Projects#index returns matching Projects and Users -->
<h5>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h5>
<p class="supertiny">&nbsp;</p>

<% unless @projectsReturned.empty? %>
  <p><em><strong>Projects matching term '<%= @query %>'</strong></em></p>
  <ul>
    <% for project in @projectsReturned do %>
      <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  </ul>
  <p class="smtext">&nbsp;</p>
<% end %>

<% unless @usersReturned.empty? %>
  <p><em><strong>Users matching term '<%= @query %>'</strong></em></p>
  <ul>
    <% for user in @usersReturned do %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ul>
  <p class="supertiny">&nbsp;</p>
<% end %>